<!-- MAKE CREATE ARTICLE:
		TITLE
		SUBTITLE
		IMG
		VID
		BODY + CODE
		(QUIZ)

 -->
<div class="container-fluid adminPage" ng-controller="adminCtrl">
    <div class="row adminWrapper">
        <!-- CARD -->
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="cardHolder" ng-init="edit1=false">


                <h3>Create Article</h3>
                <h5>Type: </h5>
                <select ng-model="newTopic.type">
                	<option value="C++">C++</option>
                	<option value="Python">Python</option>
                	<option value="webDev">webDev</option>
                </select>
                <h5>Title: </h5>
                <input type="text" name="" ng-model="newTopic.title">
                <h5>Subtitle: </h5>
                <input type="text" name="" ng-model="newTopic.subtitle">
                <h5>Thumbnail: </h5>
                <input type="file" name="" ng-model="newTopic.thumbnail">
                <h5>Video Link: </h5>
                <input type="text" name="" ng-model="newTopic.videoLink">
                <h5>Body: </h5>
                <textarea ng-model="newTopic.body"></textarea>

                <button class="hvr-shutter-out-horizontal" ng-show="newTopic.title && newTopic.subtitle && newTopic.body" ng-click="createTopic(newTopic)">Submit</button>


            </div>
        </div>
    </div>
</div>