<h1>HJ's AWESOME SCHOOL</h1>
<div class="searchResults" ng-show="search">
    <h2>SEARCHING....</h2>
</div>
<div class="homePage container-fluid">
    <div class="homeHolder">
        <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-4" ng-repeat="topic in topics | reverse" ng-show="topic.title.toLowerCase().includes(search.toLowerCase()) || search == ''">
                <div class="homeItem ">
                    <img src="{{topic.img}}" alt="{{topic.title}}">
                    <h2>
                    	<img src="images/cppLogo.png" ng-if="topic.type == 'C++'" alt="c++">
                    	<img src="images/webDevLogo.png" ng-if="topic.type == 'webDev'" alt="webdev">
                    	<img src="images/pythonLogo.ico" ng-if="topic.type == 'Python'" alt="python">
	                    {{topic.title}}
                	</h2>
                    <!-- 
                    <p>{{topic.body | limitTo: 100}}...</p> -->
                    <p>{{topic.blurb}}</p>


                    <div class="right-align">
                        <a href="#!/topic" ng-click="choseTopic(topic)" class="hvr-underline-from-left"><h4>Go!</h4></a>
                        
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>