<div class="navbar" ng-class="menu ? 'active' : 'disabled'">
    <img class='logo' src="/images/placeholder.jpg" alt="Logo">
    <div class="searchBar centerise">
        <i class="material-icons">search</i>
        <input type="text" name="" ng-model='search' placeholder="Search..." ng-init="search = ''">
    </div>
    <div href="#" class="navItem centerise" ng-click='search="Python"' ng-class="search=='Python' ? 'active' : 'disabled'">
        <img src="/images/pythonLogo.ico" alt="PythonLogo">
        Python
    </div>
    <div href="#" class="navItem centerise" ng-click='search="webDev"' ng-class="search=='webDev' ? 'active' : 'disabled'">
        <img src="/images/webDevLogo.png" alt="WebLogo">
        Web Dev
    </div>
    <div href="#" class="navItem centerise" ng-click='search="C++"' ng-class="search=='C++' ? 'active' : 'disabled'">
        <img src="/images/cppLogo.png" alt="CppLogo">
        C++
    </div>
    <div class="loginBtn centerise">
        <button ng-click="googleLogin()" ng-show="!user" class="defaultBtn">Login</button>
        <button ng-show="user" ng-click="logout()" class="defaultBtn">Logout</button>
        <a href="#!/admin" ng-show="user"><button class="defaultBtn">A</button></a>
    </div>
</div>
<div ng-show="user" ng-init="userWelcome = true" class="userWelcome centerise" ng-class="userWelcome ? 'active' : 'disabled'" ng-click="userWelcome = !userWelcome">
    <p>Welcome, {{user.displayName}} <img src="{{user.photoURL}}" alt="Google photo of {{user.displayName}}"></p>
    <i class="material-icons">clear</i>
</div>