<div ng-if="!user" class="noUser">
    <h2>Sign in if you want to take the quiz, it is free!</h2>
    
</div>


<div class="quizHolder container" ng-if="user" ng-controller="quizCtrl">
    <div class="quizTitle" ng-init="edit = false">
        <h2>{{chosenQuiz.name}}</h2>
        <input type="text" ng-show="edit" placeholder="{{chosenQuiz.name}}" name="" ng-model="editQuiz.name">
        <h4>Field:{{chosenQuiz.field}}</h4>
        <input type="text" ng-show="edit" placeholder="{{chosenQuiz.field}}" name="" ng-model="editQuiz.field">
        <h4>Difficulty:{{chosenQuiz.difficulty}}</h4>
        <input type="text" ng-show="edit" placeholder="{{chosenQuiz.difficulty}}" name="" ng-model="editQuiz.difficulty">
        <button ng-show="!edit" ng-click="edit = !edit" ng-if="profile.type == 'admin'">Edit</button>
        <button ng-show="edit" ng-click="edit = !edit" ng-if="profile.type == 'admin'">Save</button>
        <div class="stamp" ng-show="profile.completedQuizzes[chosenQuiz.key]">
        	<!-- <img src="images/awardImg.png" alt="Award Image"> -->
        	<h4>{{profile.completedQuizzes[chosenQuiz.key].points}}/{{profile.completedQuizzes[chosenQuiz.key].maxPoints}}</h4>
        </div>
    </div>
    <div class="quizList" ng-repeat="question in chosenQuiz.questions">
        <h2 ng-show="question.type == 'fill'">Fill in the Blanks: </h2>
        <h5>{{question.question}}</h5>
        <div ng-show="question.type == 'fill'">
            <p>{{question.fill.a}}</p>
            <input class="fill" type="text" name="" ng-model="$parent.quizAnswers.answer[$index].fill.b">
            <p ng-if="question.fill.c">{{question.fill.c}}</p>
            <input class="fill" type="text" name="" ng-model="$parent.quizAnswers.answer[$index].fill.d" ng-show="question.fill.d">
            <p ng-if="question.fill.e">{{question.fill.e}}</p>
            <input class="fill" type="text" name="" ng-model="$parent.quizAnswers.answer[$index].fill.f" ng-show="question.fill.f">
        </div>
        <div ng-show="question.type == 'multi'">
            <label>{{question.possible.a}}<input type="radio" name="dab" value="a" ng-model="$parent.quizAnswers.answer[$index].answer"></label>
            <label>{{question.possible.b}}<input type="radio" name="dab" value="b" ng-model="$parent.quizAnswers.answer[$index].answer"></label>
            <label>{{question.possible.c}}<input type="radio" name="dab" value="c" ng-model="$parent.quizAnswers.answer[$index].answer"></label>
            <label>{{question.possible.d}}<input type="radio" name="dab" value="d" ng-model="$parent.quizAnswers.answer[$index].answer"></label>
        </div>
        <div class="checkQuiz" ng-if="$last">
            <p>All Finished?</p>
            <button ng-click="checkQuiz(chosenQuiz, chosenQuestions, chosenQuiz.key, $parent.quizAnswers)">Check Quiz</button>
        </div>
    </div>
    <!-- Add questions -->
    <div class="addQuestions" ng-if="profile.type == 'admin'">
        <h2>Add Questions: </h2>
        <select ng-model="newQuestion.type">
            <option value="multi" selected>Multiple choice</option>
            <option value="fill">Fill in</option>
        </select>
        <div class="multipleChoice" ng-show="newQuestion.type == 'multi'">
            <h4>Multi</h4>
            <h5>Question:</h5>
            <input type="text" name="" ng-model="newQuestion.question">
            <h5>Possible Answers:</h5>
            <label>A: <input type="text" name="" ng-model="newQuestion.possible.a"></label>
            <label>B: <input type="text" name="" ng-model="newQuestion.possible.b"></label>
            <label>C: <input type="text" name="" ng-model="newQuestion.possible.c"></label>
            <label>D: <input type="text" name="" ng-model="newQuestion.possible.d"></label>
            <h5>Answer:</h5>
            <select ng-model="newQuestion.answer">
                <option value="a" selected>A</option>
                <option value="b">B</option>
                <option value="c">C</option>
                <option value="d">D</option>
            </select>
        </div>
        <div class="fillIn" ng-show="newQuestion.type == 'fill'">
            <h4>Fill</h4>
            <h5>Question:</h5>
            <input type="text" name="" ng-model="newQuestion.question" placeholder="Please complete the h1 element">
            <br>
            <label>Text: <input type="text" name="" ng-model="newQuestion.fill.a" placeholder='<'></label>
            <label>Fill: <input type="text" name="" ng-model="newQuestion.fill.b" placeholder='--Fill--'></label>
            <label>Text: <input type="text" name="" ng-model="newQuestion.fill.c" placeholder='><'></label>
            <label>Fill: <input type="text" name="" ng-model="newQuestion.fill.d" placeholder='--Fill--'></label>
            <label>Text: <input type="text" name="" ng-model="newQuestion.fill.e" placeholder='/>'></label>
            <label>Fill: <input type="text" name="" ng-model="newQuestion.fill.f" placeholder='optional...'></label>
        </div>
        <button ng-click="addQuestion(newQuestion, chosenQuiz)" ng-show="newQuestion.question">Submit!</button>
    </div>
   
</div>