<div class="topicPage container" ng-controller="topicCtrl">
    <div class="topicContent" ng-show="chosenTopic">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="topicMain" ng-init="edit=false">
                    <!-- <img src="{{chosenTopic.img}}" alt="{{choseTopic.title}}"> -->
                    <h1 class="articleTitle">
                        <img class='topicIcons' src="images/cppLogo.png" ng-if="chosenTopic.type == 'C++'" alt="c++">
                        <img class='topicIcons' src="images/webDevLogo.png" ng-if="chosenTopic.type == 'webDev'" alt="webdev">
                        <img class='topicIcons' src="images/pythonLogo.ico" ng-if="chosenTopic.type == 'Python'" alt="python">
                        {{chosenTopic.title}}
                        <span ng-show="!edit && profile.type == 'admin'" ng-click="edit = true">Edit.</span>
                        <span ng-show="edit && profile.type == 'admin'" ng-click="edit = false; savePage(chosenTopic, profile)">Save.</span>
                    </h1>
                    <label ng-show="edit">
                        Title:
                        <input type="text" name="" ng-model="chosenTopic.title">
                    </label>
                    <h2>{{chosenTopic.subtitle}}</h2>
                    <label ng-show="edit">
                        Subtitle:
                        <input type="text" name="" ng-model="chosenTopic.subtitle">
                        Blurb:
                        <input type="text" name="" ng-model="chosenTopic.blurb">
                    </label>
                    <!-- <div ng-bind-html="chosenVideo"></div> -->
                    <div id="chosenVideo"></div>
                    <label ng-show="edit">
                        Video:
                        <input type="text" name="" ng-model="chosenTopic.video">
                    </label>
                    <!-- <div ng-bind-html="chosenBody"></div> -->
                    <div id="chosenBody"></div>
                    <!-- {{chosenTopic.body}} -->
                    <label ng-show="edit">
                        Body:
                        <textarea ng-model="chosenTopic.body"></textarea>
                    </label>
                </div>

                <div class="quizOptions">
                    <h2>Quizzes:</h2>
                    <div class="quizOption" ng-repeat="quiz in quizzes" ng-show="quiz.articleKey == chosenTopic.id">
                        <img src="images/pythonLogo.ico" ng-show="quiz.field == 'Python'">
                        <img src="images/cppLogo.png" ng-show="quiz.field == 'C++'">
                        <img src="images/webDevLogo.png" ng-show="quiz.field == 'webDev'">
                        <p>{{quiz.name}}</p>
                        <p>{{quiz.difficulty}}</p>
                        <p ng-show="quiz">Completed: 8/80</p>
                        <p ng-show="!quiz">Imcomplete</p>
                        <button ng-click="goToQuiz(quiz)">Go to quiz!</button>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="topicSide">
                    <h3>Related Topics</h3>
                    <a href="#!/topic/{{topic.id}}" ng-repeat="topic in topics">
                        <div class="hvr-icon-wobble-horizontal relatedTopics" ng-if="topic.type == chosenTopic.type && chosenTopic.title != topic.title" ng-click="$scope.edit=false">
                            <h4>{{topic.title}}<i class="material-icons hvr-icon">keyboard_arrow_right</i></h4>
                            <img src="{{topic.img}}" alt="{{topic.blurb}}">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>