<footer class="container-fluid">
	
	<div class="innerFooter row">


		<div class="footerAbout col-sm-12 col-lg-7">
			
			<h2>{{siteInfo.homePage.footerTitle}}</h2>
			<h4>{{siteInfo.homePage.footerSubtitle}}</h4>
			<p class="footsieP">{{siteInfo.homePage.body}}</p>

			<div class="contactBtn">
				
				<a href="#!/contact" class="hvr-sweep-to-right">Contact Us!</a>

			</div>

		</div>
		
		<div class="footerSocial  col-sm-12 col-lg-5">
			
			<h3>Site Info: </h3>
			<a href="{{anchor.link}}" ng-repeat="anchor in siteInfo.anchors">{{anchor.text}}</a>
			


			<h3 ng-repeat="item in siteInfo.social" >{{item.text}}
				<a href="{{item.link}}" target="_blank"><img src="images/{{item.img}}"></a>
			</h3>

		</div>
	</div>

</footer>